django
djangorestframework
djangorestframework-simplejwt
psycopg2-binary
Pillow
django-cors-headers
drf-nested-routers
gunicorn
boto3
django-storages
django-imagekit
llama-index-agent-openai
drf-yasg
black==24.3.0
isort==5.13.2
bandit==1.7.6
flake8==7.0.0
channels
celery
redis
django-celery-beat
django-filter
uvicorn[standard]