/* src/style.css */

body {
    background-image: linear-gradient(to bottom right, #1a3a24, #152133);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
  }
  
  .fullscreen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Стили для инпутов на темном фоне (остаются) */
  .form-control-dark, .form-select-dark {
    background-color: #495057;
    color: #fff;
    border-color: #6c757d;
  }
  .form-control-dark::placeholder {
    color: #adb5bd;
  }
  .form-control-dark:focus, .form-select-dark:focus {
    background-color: #495057;
    color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); /* Зеленая тень */
  }
  .form-select-dark option {
      background-color: #fff;
      color: #212529;
  }

  .text-in-span {
    color: #fff
  }